.navbar {
    background-color: rgb(0, 0, 0);
  }
  
  .navbar a.navbar-brand,
  .navbar a.nav-link,
  .navbar button.navbar-toggler,
  .navbar form button.btn {
    color: white;
    
  }
  
  .navbar-toggler-icon {
    background-color: white;
    width: 50px;
    height: 50px;
  }
  
  .dropdown-menu {
    background-color: white;
    color: black;
  }
  