#posts-index img {
  width: 200px;
}

html {
  scroll-behavior: smooth;
}


#root {
  font-family: Arial, Helvetica, sans-serif,"Trebuchet MS",Arial,sans-serif;
  background-image: url('./assets/hexi.avif')
}

