#posts-index img {
  width: 200px;
}

html {
  scroll-behavior: smooth;
}


#root {
  font-family: Roboto, Arial, sans-serif, "Trebuchet MS",Arial,sans-serif;
 
    background-color: rgb(255, 255, 255);
}

.card {
  width: 300px;
  height: 200px;

}

.card-with-image {
 
  background-image: url("/Users/starfleet/Desktop/actualize/blog-frontend/src/assets/trek.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  
}



